# Konfigurasi Domain & Base URL
NEXT_PUBLIC_SITE_URL=https://www.bumikutaiperkasa.co.id

# Nomor WhatsApp Resmi (Format: 628xxxxxxxxxx tanpa tanda + atau spasi)
NEXT_PUBLIC_WHATSAPP_NUMBER=6285393339991

# Google Maps URL untuk lokasi operasional / depot
NEXT_PUBLIC_GOOGLE_MAPS_URL=https://maps.app.goo.gl/UP5iCQLTTphUztAH6

# Environment Mode
NODE_ENV=production
PORT=3000
HOSTNAME=0.0.0.0
